.footer-container{
    background-color: var(--very-dark-violet);
    color: var(--bg-color);
    margin-top: 3rems;
    padding: 4rem 10rem;
    display: flex;
    justify-content: space-around;
}

#logoShortly{
    width: 200px;
    font-weight: 600;
    font-size: 1.8rem;
    cursor: pointer;
}

.footer-element>ul>li{
    color: var(--gray);
    font-weight: 400;
    margin-top: 0.4rem;
    list-style-type: none;
    cursor: pointer;
    font-size: 15px;
}
.footer-title{
    margin-bottom: 1.6rem;
    font-weight: 500;
    font-size: 17px;
}

.social-media-logo{
    width: 23px;
    height: 23px;
}

a{
    margin-left: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    color: var(--bg-color);
}